* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "montserrat";
  color: white;
  font-family: monument;
}

html,
body {
  width: 100%;
  height: 100%;
}

body::-webkit-scrollbar {
  width: 10px;
  background: #0f9635;
}
body::-webkit-scrollbar-thumb {
  background-color: white;
}

@font-face {
  font-family: monument;
  src: url("MonumentExtended-Regular.otf");
}

#nav {
  width: 100%;
  height: 150px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding: 0 120px;
  gap: 50px;
  position: fixed;
  z-index: 999;
}

#nav img {
  height: 75px;
}

#nav h4 {
  text-transform: uppercase;
  letter-spacing: 2px;
  cursor: pointer;
}

#cursor {
  width: 20px;
  height: 20px;
  background-color: #95c11e;
  border-radius: 50%;
  position: fixed;
  z-index: 100;
  transition: all linear 0.1s;
}

#cursorBlur {
  width: 500px;
  height: 500px;
  border-radius: 50%;
  position: fixed;
  background-color: #96c11e38;
  filter: blur(80px);
  z-index: 9;
  transition: all linear 0.4s;
}

video {
  width: 100%;
  height: 100%;
  object-fit: cover;
  position: fixed;
  z-index: -2;
}

#main {
  position: relative;
  background-color: rgba(0, 0, 0, 0.37);
}

#page1 {
  width: 100%;
  height: 100vh;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  z-index: 10;
}

#page1 h1 {
  font-size: 100px;
  font-weight: 900;
  position: relative;
}

#page1 h1::before {
  content: "EAT. DRINK. PLAY.";
  position: absolute;
  color: black;
  top: -4px;
  left: -4px;
  -webkit-text-stroke: 2px #96c11e;
  z-index: -1;
}

#page1 h2 {
  font-size: 30px;
  margin-top: 10px;
  margin-bottom: 20px;
  font-weight: 800;
}

#page1 p {
  font-size: 20px;
  width: 58%;
  font-weight: 100;
}
#page1 #arrow {
  height: 300px;
  width: 300px;
  background-color: transparent;
  border: 2px solid #95c11e;
  position: absolute;
  display: flex;
  left: -2%;
  bottom: 0%;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  transition: all ease 0.5s;
}
#page1 #arrow i {
  font-size: 50px;
  font-weight: 100;
}
#page1 #arrow:hover {
  scale: 0.4;
  background-color: #95c11e;
}

#page2 {
  width: 100%;
  min-height: 100vh;
  position: relative;
  z-index: 10;
}

#scroll {
  text-transform: uppercase;
  white-space: nowrap;
  overflow-x: auto;
  overflow-y: hidden;
}

#scroll::-webkit-scrollbar {
  display: none;
}

.scroller h4 {
  display: inline-block;
  font-size: 100px;
  font-weight: 900;
  margin-right: 50px;
  -webkit-text-stroke: #96c11e 2px;
  color: transparent;
  letter-spacing: 5px;
  transition: all 0.4s;
}

.scroller h4:hover {
  color: #96c11e;
}

.scroller {
  display: inline-block;
  white-space: nowrap;
  animation-name: scroll;
  animation-timing-function: linear;
  animation-duration: 20s;
  animation-iteration-count: infinite;
}

@keyframes scroll {
  from {
    transform: translateX(0%);
  }
  to {
    transform: translateX(-100%);
  }
}

#aboutUs {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 100px;
  height: 40vh;
  margin-top: 3.5%;
  position: relative;
  top: 10%;
}

#aboutUs img {
  width: 180px;
  height: 180px;
  object-fit: cover;
  border-radius: 10px;
}

#aboutText {
  text-align: center;
  width: 40%;
}

#aboutText h3 {
  font-size: 40px;
  margin-bottom: 30px;
  font-weight: 900;
  letter-spacing: 5px;
}

#aboutText p {
  font-size: 20px;
  letter-spacing: 2px;
  line-height: 30px;
  font-weight: 100;
}

#cardsContainer {
  height: 60vh;
  width: 86%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 3.5%;
  margin-left: 0%;
  position: relative;
  z-index: 10;
}
.card {
  height: 85%;
  width: 31%;
  background-color: #95c11e;
  border-radius: 15px;
}

#card1 {
  background-image: url(https://eiwgew27fhz.exactdn.com/wp-content/uploads/2023/02/home-toptracer-1024x682.jpg?strip=all&lossy=1&sharp=1&ssl=1);
  background-position: center;
  background-size: cover;
}
#card2 {
  background-image: url(https://eiwgew27fhz.exactdn.com/wp-content/uploads/2023/02/hero-4-1024x1024.jpg?strip=all&lossy=1&sharp=1&ssl=1);
  background-position: center;
  background-size: cover;
}
#card3 {
  background-image: url("courtney-cook-SsIIw_MET0E-unsplash.jpg");
  background-position: center;
  background-size: cover;
}

.overlay {
  height: 100%;
  width: 100%;
  background-color: #96c11e;
  padding: 90px 30px 30px 30px;
  border-radius: 15px;
  opacity: 0;
  transition: all 0.5s;
}

.overlay h4 {
  font-size: 30px;
  margin-bottom: 30px;
  color: black;
  font-weight: 900;
  text-transform: uppercase;
  letter-spacing: 10px;
}

.overlay p {
  font-size: 20px;
  letter-spacing: 3px;
  line-height: 30px;
}

.overlay:hover {
  opacity: 1;
}

#green-div {
  margin-top: 4em;
  height: 30vh;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: linear-gradient(to left bottom, #119f3a, #ace022);
}
#green-div h4 {
  width: 45%;
  line-height: 50px;
  color: #000;
  text-align: center;
  font-weight: 800;
  font-size: 27px;
  text-transform: uppercase;
}
#green-div img {
  height: 100%;
  object-fit: cover;
  width: 14%;
}

#page3 {
  width: 100%;
  min-height: 100vh;
}

#foodDrink {
  margin-top: 10%;
  margin-bottom: 10%;
  width: 100%;
  min-height: 40vh;
  padding: 0 120px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

#foodDrink img {
  width: 50%;
  height: 500px;
  object-fit: cover;
  border-radius: 10px;
}

.foodText {
  width: 45%;
}

.foodText h2 {
  font-size: 40px;
  margin-bottom: 20px;
}

.foodText p {
  margin-bottom: 15px;
  font-size: 20px;
  line-height: 30px;
}

.foodText button {
  margin-top: 30px;
  width: 250px;
  height: 60px;
  border-radius: 70px;
  font-size: 1.2em;
  border: 2px solid #95c11e;
  background-color: transparent;
}

.foodText button:hover {
  background: linear-gradient(to top, #b3e725, #0f9635);
}

#quote {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: 50vh;
  position: relative;
}
#quote > p {
  font-size: 35px;
  font-weight: 700;
  margin-left: 20%;
  width: 60%;
  line-height: 45px;
  text-align: center;
}

#quote img {
  position: absolute;
  height: 60px;
}

#colon1 {
  top: -10%;
  left: 10%;
}

#colon2 {
  bottom: -7%;
  right: 10%;
}

#page4 {
  margin-top: 5%;
  height: 30vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 70px;
  position: relative;
  margin-bottom: 10%;
}
.elem {
  height: 70%;
  width: 26%;
  overflow: hidden;
  border-radius: 20px;
  position: relative;
  text-align: center;
}

.elem h2 {
  height: 100%;
  width: 100%;
  background-color: #95c11e;
  display: flex;
  color: #000;
  font-weight: 800;
  align-items: center;
  justify-content: center;
  transition: all ease 0.5s;
  font-size: 2vw;
  position: absolute;
  z-index: 10;
}
.elem img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  transition: all ease 0.5s;
  scale: 1.1;
}
.elem:hover h2 {
  color: #fff;
  background-color: transparent;
}
.elem:hover img {
  scale: 1;
}
#page4 h1 {
  font-size: 6.4vw;
  position: absolute;
  top: 5%;
  font-weight: 900;
  font-family: gilroy;
  color: #000;
  -webkit-text-stroke: 2px #fff;
}

#footer {
  height: 40vh;
  width: 100%;
  background: linear-gradient(to left bottom, #119f3a 0%, #a3d421 80%);
  position: relative;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 6.5vw;
  padding: 0 100px;
}
#footer > img {
  position: absolute;
  left: 0;
  height: 100%;
  z-index: 0;
}
#f1 img {
  height: 100px;
}
#f1,
#f2,
#f3,
#f4 {
  width: fit-content;
  position: relative;
  z-index: 99;
}
#f2 h3 {
  font-size: 1.6vw;
  white-space: nowrap;
  text-transform: uppercase;
  color: #000;
  font-weight: 900;
  margin-bottom: 8px;
  letter-spacing: 5px;
}

#f3 h3 {
  font-size: 1.6vw;
  white-space: nowrap;
  text-transform: uppercase;
  color: #000;
  font-weight: 800;
  margin-bottom: 8px;
  letter-spacing: 5px;
}
#f4 h4 {
  font-size: 1vw;
  white-space: nowrap;
  text-transform: uppercase;
  color: #000;
  font-weight: 600;
  line-height: 20px;
  margin-bottom: 8px;
  letter-spacing: 4px;
}
